/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font-family: "IBM Plex Mono", monospace;
  --background-color: #000028;
  --accent-color: #ff0070;
  --promo-title-color: #db00ff;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --background-image: url("../images/cover-image-dark.png");
  --menu-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #000028;
  --topic-color: #ff0070;
  --rec-decor-visibility: visible;
}
