/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font-family: 'IBM Plex Mono', monospace;
  --background-color:#FFF1F7;
  --accent-color:#FF8DCB;
  --promo-title-color:#FFC2E6;
   --background-image: url("../images/cover-image-light.png");
  --menu-color:#353430;
  --text-color:#353430;
  --title-color:#353430; 
    --hover-border-color:rgba(50, 49, 45, 0.4);
    --topic-color:#353430;
    --rec-decor-visibility: hidden;

}

@media (prefers-color-scheme: light) {
  :root {
    --font-family: 'IBM Plex Mono', monospace;
    --background-color:#FFF1F7;
    --accent-color:#FF8DCB;
    --promo-title-color:#FFC2E6;
     --background-image: url("../images/cover-image-light.png");
    --menu-color:#353430;
    --text-color:#353430;
    --title-color:#353430; 
      --hover-border-color:rgba(50, 49, 45, 0.4);
      --topic-color:#353430;
      --rec-decor-visibility: hidden;
    }
}