/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image, url("../images/cover-image.png"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color, #000028);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: 18px; /* or 18px */
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: var(--text-color, #f1b2ce);
  /* padding: clamp(10px, 0.0286rem + 2.5445vw, 20px); */
}

/* HEADER */

.header {
  block-size: max(100vb, 668px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". . nuv"
    "title title title"
    "text text text";
  justify-items: end;

  padding: 10px 10px 0 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--menu-color, #ff0070);
  border-right: 1px solid var(--menu-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--menu-color, #ff0070);
  border-left: 1px solid var(--menu-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec__decor {
  position: absolute;
  display: flex;
  color: var(--accent-color, #ff0070);
  align-self: flex-end;
  top: 14px;
  right: 21px;
  gap: 8px;
  visibility: var(--rec-decor-visibility, visible);
}

.rec__decor::before {
  content: "REC";
}

.rec__decor::after {
  content: "";
  display: inline-block;
  align-self: center;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--menu-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  color: var(--menu-color, #ff0070);
  align-self: flex-end;
  grid-area: nuv;
  align-self: center;
  padding-block-start: 5px;
}

.header__theme-menu-list {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  padding: 3px 12px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color, #ff0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color, #ff0070);
  cursor: default;
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--promo-title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  grid-area: title;
  align-self: center;
}

.header .header__title {
  margin-bottom: 9px;
  justify-self: flex-start;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--title-color, #000028);
  line-height: 130%;
  font-weight: 700;
  font-size: 18px;
}

.regular {
  font-weight: 400;
}

.header__text {
  grid-area: text;
  align-self: flex-start;
  margin-top: 35px;
}

/* MAIN */

.main {
  padding: 10px;
  margin-top: 31px;
  margin-bottom: 30px;
  line-height: 130%;
}

.main__section:not(:last-child) {
  padding-bottom: 49px;
  gap: 20px;
}

.main__section:last-child {
  gap: 10px;
}

.main__section {
  display: flex;
  flex-direction: column;
}

.main__section-title {
  color: var(--topic-color, #ff0070);
  font-size: 18px;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__section-article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.card-text-link {
  text-shadow: 1px 1px 0 var(--accent-color, #ff0070);
  text-decoration: none;
}

.card-text-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.card-text-link:focus {
  outline: none;
}

.card-text-link:focus-visible {
  outline: 1px solid var(--accent-color, #ff0070);
}

.gallery {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
}

.gallery-image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* FOOTER */
.footer {
  block-size: max(100vb, 668px);
  display: flex;
  padding: 15px;
}

.footer .header__title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  padding-top: 5px;
}

@media (768px <= width) {
  .header {
    padding: 20px 20px 0 0;
  }

  .rec__decor {
    top: 23px;
    right: 31px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .header__title {
    margin-bottom: 19px;
  }

  .header__text {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    align-self: flex-start;
    margin-top: 35px;
  }

  .header__theme-menu {
    align-self: flex-end;
    padding-bottom: 66px;
  }

  .main {
    padding: 0 20px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .main__section:nth-child(2n + 1) {
    flex-direction: row;
  }

  .main__section:not(:last-child) {
    padding-bottom: 80px;
  }

  .main__section:last-child {
    gap: 20px;
  }

  .main__section:nth-child(2) .main__content {
    width: 100%;
  }

  .main__section-title {
    width: 32.5%;
  }

  .main__content {
    width: 65.5%;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-height: 780px;
    gap: 20px;
  }

  .sunset-img {
    grid-column: 1/3;
    max-height: 192px;
  }

  .ice-cream-img {
    grid-column: 3/4;
    grid-row: -4/-2;
    max-height: 441px;
  }

  .tape-img {
    grid-row: 2/4;
    max-height: 568px;
  }

  .books-img {
    max-height: 230px;
  }

  .street-img {
    grid-row: 3/4;
    grid-column: -3/-1;
    max-height: 318px;
  }

  .footer {
    justify-content: center;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: flex-start;
    padding-right: 45px;
    padding-block-start: 0;
    grid-column: 2/3;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    margin-top: 45px;
  }

  .main {
    margin-top: 60px;
    margin-bottom: 66px;
  }
  .main__content {
    width: 67.5%;
  }

  .main__section:nth-child(2) .main__section-article {
    max-width: 315px;
  }

  .main__section:nth-child(2) .main__content {
    flex-direction: row;
  }

  .gallery {
    max-height: 1040px;
  }

  .sunset-img {
    max-height: 259px;
  }

  .ice-cream-img {
    max-height: 595px;
  }

  .tape-img {
    max-height: 768px;
  }

  .books-img {
    max-height: 315px;
  }

  .street-img {
    max-height: 429px;
  }
}
